$fontWeightVar: 400;

body {
  font-family: "Open Sans";
  font-weight: $fontWeightVar;
  margin: 0;
  overflow: hidden;
}

.selected > .billet {
  background-color: #157ad3 !important;
  color: #fff !important;
}
